body {
    font: 14px 'Muli', sans-serif;
    background-color: #EDF1F5;
}

a {
    color: #3c4c5b;
}

a:hover {
    text-decoration: none;
    color: #3c4c5b;
}

/* HEADER/NAVBAR */
.navbar {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.01);
    border: 1.5px solid rgba(50, 62, 72, 0.01);
}

.header {
    margin-left: 30px;
    margin-right: 30px;
}

.filter-header {
    padding-bottom: 6px;
}

hr {
    border: 0;
    width: 100%;
    background-color: #E8EBEF;
    opacity: 0.7;
    height: 1.5px;
}

/* Header text styling */
.feedback {
    color: #7B8794;
    font-weight: bold;
    margin-top: 10px;
}

.slogan {
    color: #7B8794;
    font-size: 16px;
    line-height: 25px;
    margin-top: -4px;
    margin-bottom: -6px;
}

.last-updated {
    font-size: 12px;
    color: #c7ccd0;
}

.filter {
    font-size: 14px;
    color: #687482;
    background-color: #E8ECF1;
    height: 38px;
    min-width: 85px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    border-color: #E8ECF1;
    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}

.filter:hover {
  font-size: 14px;
  color: #4E5A67;
  background-color: #CED6DE;
  height: 38px;
  min-width: 85px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
  border-color: #CED6DE;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
  transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}

.filter:focus {
  font-size: 14px;
  color: #ffffff;
  background-color: #7B8794;
  height: 38px;
  min-width: 85px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
  border-color: #7B8794;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}

.dropdown-menu {
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #F1F3F6;
}

/* Styling for devices such as ipad */
@media (max-width: 850px) {
    .last-updated, .feedback {
        display: none;
    }
}

/* RESOURCE WRAPPER */
.box {
    margin-top: 28px;
    margin-left: 58px;
    margin-right: 58px;
    margin-bottom: 60px;
    min-height: calc(100vh - 337px);
}

.resource-wrapper {
    padding-right: 0;
    padding-left: 0;
}

.resource-card-wrapper {
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.01);
    border: 2px solid rgba(0, 0, 0, 0.01);
    transition: all 0.15s ease;
}

.resource-card-wrapper:hover .card-open {
    opacity: 1;
}

.resource-card-wrapper:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(61, 76, 89, 0.18);
}

.text {
    margin: 20px 0px;
}

.card-content {
    display: flex;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.card-icon {
    width: 100px;
    height: 100px;
    border-radius: 15%;
    margin: 20% 20% 20% 20%;
    cursor: pointer;
    background-color: #ffffff;
}

.card-icon-container {
    position: relative;
    display: flex;
}

.card-text {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #7B8794;
}

.card-text-container {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 4vw;
}

.card-title {
    font-weight: 800;
    font-size: 19px;
    line-height: 24px;
    margin-top: -4px;
    margin-bottom: 6px;
    color: #323E48;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-category {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 11px;
    color: #1cc7a5;
}

.card-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-open {
    position: absolute;
    top: 18px;
    right: 20px;
    opacity: 0.5;
    transition: all 0.2s ease;
}

.fir-imageover-color {
    height: 80px;
    width: 80px;
    position: absolute;
    border-radius: 50px;
    cursor: pointer;
    top: 0;
    left: 0;
}

.card-icon-logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25%;
}

.copyright {
    color: #323F4A;
}

@media only screen and (max-width: 80.95em) and (min-width: 61.95em) {
    .header {
        margin-left: 0px;
        margin-right: 0px;
    }

    .box {
        margin-top: 8px;
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 60px;
    }

    .card-category {
        font-size: 11px;
    }
}

@media only screen and (max-width: 61.95em) and (min-width: 35.95em) {
    .header {
        margin-left: 0px;
        margin-right: 0px;
    }

    .box {
        margin-top: 18px;
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 35.95em) {
    .header {
        margin-left: -5px;
        margin-right: -5px;
    }

    .box {
        margin-top: 8px;
        margin-left: 23px;
        margin-right: 23px;
        margin-bottom: 50px;
    }

    .resource-card-wrapper {
        margin-top: 20px;
        border-radius: 15px;
    }
}
