body {
    font: 14px 'Public Sans', sans-serif;
    background-color: #EDF1F5;
}

a {
    color: #3c4c5b;
}

a:hover {
    text-decoration: none;
    color: #3c4c5b;
}

/* HEADER/NAVBAR */
.navbar {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.01);
    border: 1.5px solid rgba(50, 62, 72, 0.01);
}

.header {
    margin-left: 30px;
    margin-right: 30px;
}

.filter-header {
    padding-left: 14px;
    padding-bottom: 6px;
    display: inline;
}

.dropdown {
    display: inline;
    margin-right: 8px;
    margin-bottom: 8px;
}

.dropdown-toggle::after {
    float: right !important;
    margin-top: 9px !important;
    margin-left: 8px !important;
}

hr {
    border: 0;
    width: 100%;
    background-color: #E8EBEF;
    opacity: 0.7;
    height: 1.5px;
}

/* Header text styling */
.menu {
    display: none;
}

.header .menu {
    display: block;
}

.menu-item {
    color: #7B8794;
    font-weight: bold;
    letter-spacing: 0.25px;
    margin-left: 14px;
    font-size: 14px;
}

.slogan {
    color: #7B8794;
    font-size: 16px;
    line-height: 25px;
    margin-top: -8px;
    margin-bottom: 0;
    letter-spacing: 0.25px;
}

.last-updated {
    font-size: 12px;
    color: #c7ccd0;
    letter-spacing: 0.25px;
    margin-top: -8px;
}

.filter {
    font-size: 14px;
    font-weight: 600;
    color: #687482;
    background-color: #E8ECF1;
    height: 38px;
    min-width: 85px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    border-color: #E8ECF1;
    transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
}

.filter:hover {
    font-size: 14px;
    color: #4E5A67;
    background-color: #CED6DE;
    height: 38px;
    min-width: 85px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    border-color: #CED6DE;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
    transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
}

.filter:focus {
    font-size: 14px;
    color: #ffffff;
    background-color: #939CA6;
    height: 38px;
    min-width: 85px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    border-color: #939CA6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    transition: color .1s ease-in-out, background-color .04s ease-in-out, border-color .04s ease-in-out, box-shadow .04s ease-in-out;
}

.dropdown-menu {
    margin-top: 12px;
    font-weight: 600;
    background-color: #ffffff;
    border-color: #E2E6E9;
    border-width: 1.5px;
    border-radius: 14px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.dropdown-item {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    padding-left: 20px;
    margin-left: 0px;
}

.dropdown-item:hover {
    background-color: #F1F3F6;
}

.form-control {
  color: #000000;
}

/* unvisited link */
.form-control input {
  margin: 0 .25rem;
  min-width: 125px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}
.form-control input:optional {
  border-left-color: #999;
}
.form-control input:required {
  border-left-color: palegreen;
}
.form-control input:invalid {
  border-left-color: salmon;
}

.button {
  font-size: 14px;
  color: #7B8794;
  background-color: #ffffff;
  font-weight: 700;
  height: 38px;
  min-width: 85px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.01);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
  transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}

.button:hover {
  background-color: #F7F8F9;
  color: #4E5A67;
  border: 2px solid rgba(221, 229, 235, 1);
}

/* Styling for devices such as ipad */
@media (max-width: 100px) {
    .last-updated, .menu-item {
        display: none;
    }
}

/*TEXT STYLES*/
h3 {
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
  color: #323E48;
}

h6 {
  font-family: 'Public Sans', sans-serif;
  color: #7B8794;
  line-height: 22px;
}

/* RESOURCE WRAPPER */
.box {
    margin-top: 24px;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 60px;
    min-height: calc(100vh - 337px);
}

.resource-wrapper {
    padding-right: 0;
    padding-left: 0;
}

.resource-card-wrapper {
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.01);
    border: 2px solid rgba(0, 0, 0, 0.01);
    transition: all 0.15s ease;
}

.resource-card-wrapper:hover .card-open {
    opacity: 1;
}

.resource-card-wrapper:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(221, 229, 235, 1);
}

.text {
    margin: 20px 0px;
}

.card-content {
    display: flex;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.card-icon {
    width: 100px;
    height: 100px;
    border-radius: 15%;
    margin: 20% 20% 20% 20%;
    cursor: pointer;
    background-color: #ffffff;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.card-icon-img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card-icon-container {
    position: relative;
    display: flex;
}

.card-text {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #7B8794;
}

.card-text-container {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 4vw;
}

.card-title {
    font-weight: 800;
    font-size: 19px;
    line-height: 24px;
    margin-top: -5px;
    margin-bottom: 4px;
    color: #323E48;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    letter-spacing: 0.25px;
}

.card-category {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 11px;
    color: #1cc7a5;
    letter-spacing: 0.25px;
    display: inline-block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.card-open {
    position: absolute;
    top: 18px;
    right: 20px;
    opacity: 0.5;
    transition: all 0.2s ease;
}

.fir-imageover-color {
    height: 80px;
    width: 80px;
    position: absolute;
    border-radius: 50px;
    cursor: pointer;
    top: 0;
    left: 0;
}

.card-icon-logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25%;
}

.none {
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 18px;
    color: #7B8794;
    width: 100%;
    text-align: center;
    margin-top: 18vh;
}

.divider {
    color: #bec7cf;
}

.copyright {
    color: #7B8794;
    margin-top: 7px;
    letter-spacing: 0.25px;
}


@media only screen and (max-width: 80.95em) and (min-width: 61.95em) {
    .header {
        margin-left: 0px;
        margin-right: 0px;
    }

    .box {
        margin-top: 8px;
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 60px;
    }

    .card-category {
        font-size: 11px;
    }
}

@media only screen and (max-width: 61.95em) and (min-width: 35.95em) {
    .header {
        margin-left: 0px;
        margin-right: 0px;
    }

    .box {
        margin-top: 6px;
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 60px;
    }

    .resource-card-wrapper {
        margin-top: 20px;
        border-radius: 15px;
    }

    .card-icon {
        width: 80px;
        height: 80px;
    }

    .card-icon img {
        width: 80px;
        height: 80px;
    }

    .card-text-container {
        margin-top: 12px;
        margin-left: 30px;
        margin-bottom: 10px;
        margin-right: 4vw;
    }

    .card-description {
        -webkit-line-clamp: 2;
    }

    .card-open {
        top: 11px;
        right: 13px;
    }
}

@media only screen and (max-width: 35.95em) {
    .header {
        margin-left: -5px;
        margin-right: -5px;
    }

    .header .menu {
        display: none;
    }

    .menu {
        display: block;
    }

    .dropdown {
        display: block;
        margin-right: 8px;
        margin-bottom: 1px;
    }

    .dropdown-menu {
        margin-top: 0px;
    }

    .filter-header {
        width: 100%;
    }

    .filter {
        font-size: 14px;
        font-weight: 600;
        color: #687482;
        background-color: #E8ECF1;
        height: 38px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
    }

    .box {
        margin-top: 4px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
    }

    .resource-card-wrapper {
        margin-top: 20px;
        border-radius: 15px;
    }

    .card-icon {
        width: 80px;
        height: 80px;
    }

    .card-icon img {
        width: 80px;
        height: 80px;
    }

    .card-text-container {
        margin-top: 12px;
        margin-left: 30px;
        margin-bottom: 10px;
        margin-right: 4vw;
    }

    .card-description {
        -webkit-line-clamp: 2;
    }

    .card-open {
        top: 11px;
        right: 13px;
    }

    #dropdownMenu3 {
        margin-top: 10px;
    }

    .dropdown-menu {
        width: 100%;
    }

    .dropdown-item {
        line-height: 20px;
    }

}
