<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Other Stylesheets and scripts -->
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link href="https://fonts.googleapis.com/css?family=Muli:600,700,800&display=swap" rel="stylesheet">
        <title>The Design Index</title>
    </head>

    <body>
        <!-- Header -->
        <nav class="navbar">
            <!-- Top Header -->
            <div class="container-fluid header">
                <a class="navbar-brand mb-0 h1" href="#"><img src="/images/logo.svg" width="240" height="30" class="d-inline-block align-top" alt=""></a>
                <a class="navbar-text feedback" href = "mailto:abc@example.com?subject = Feedback&body = The Design Index Feedback">Send feedback</a>
            </div>

            <!-- Bottom Header -->
            <div class="container-fluid header">
                <h6 class="navbar-text slogan">A hand-picked directory of the best design resources and tools</h6>
                <span class="navbar-text last-updated">Last updated on July 2019</span>
                <hr>
            </div>

            <!-- Filters -->
            <div class="container-fluid header">
                <span class="navbar-text filters">Filters coming soon</span>
            </div>
        </nav>

        <!-- Resource Wrapper -->
        <div class="box">
            <div class="resource-wrapper">
                <div class="row">

                    <!-- Resource Card 1 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/1_Kaboompics.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 2 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/1_Pexels.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 3 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/1_Unsplash.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 4 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/1_Pixabay.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 5 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/2_Graphicburger.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Mockups</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 6 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/2_Medialoot.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Mockups</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 1 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/2_Pixaden.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 2 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/2_Pixelbuddha.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 3 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/3_Humaaans.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 4 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/3_Ouch.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 5 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/4_Flaticon.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Mockups</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 6 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/4_Iconfinder.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Mockups</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 1 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/4_Icons8.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 2 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/4_Thenounproject.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 3 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/5_Fontspace.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 4 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/5_Fontspring.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 5 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/5_Fontsquirrel.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Mockups</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 6 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/5_Googlefonts.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Mockups</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 1 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/6_Colourhunt.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 2 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/6_Coolers.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 3 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/6_Gradientsio.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 4 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/6_Khorma.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Photos</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 5 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/6_Shade.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Mockups</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>

                    <!-- Resource Card 6 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                        <a href="https://unsplash.com/" rel="noopener" target="_blank"><div class="resource-card-wrapper">

                            <div class="card-content">
                                <div class="card-icon-container">
                                    <div class="card-icon" alt="Unsplash Logo">
                                        <img src="/images/resource_icons/7_Awwwards.svg" alt="Unsplash Logo"/>
                                    </div>
                                </div>
                                <div class="card-text-container">
                                    <div class="card-text card-category">Mockups</div>
                                    <div class="card-text card-title">Unsplash</div>
                                    <div class="card-text card-description">The internet's source of freely usable images. Powered by creators everywhere.</div>
                                </div>
                            </div>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <div class="navbar">
            <div class="container-fluid header">
                <a class="navbar-brand mb-0 h1" href="#"><img src="/images/logo2.svg" width="30" height="30" class="d-inline-block align-top" alt="logo"></a>
                <p class="copyright">Made with love by <a class="navbar-text copyright" href= "www.nikolaibain.com"><b> Nikolai Bain </b></a> & <a class="navbar-text copyright" href= "www.nevinjojo.com"><b> Nevin Jojo</b></a>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
